nav{
  position: fixed;
  font-family: 'Bungee', cursive;
  background-color: #274C77;
  height: 100px;
  color: #e8fdff;
  z-index: 9999;
  width: 100%;
  padding: 0 20px;
  top: 0;
  height: 120px;
}

nav #down-arrow {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  margin-right: 30px;
  margin-top: 10px;
  animation-name: move-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes move-down {
  0% {bottom: 0px}
  50% {bottom: 5px}
  100% {bottom: 0px} 
}

nav #logo {
  color: #FFF;
  font-size: 40px;
  position: relative;
  top: 30px;
}