.new-tweet {
  padding: 30px;
  display: none;
  font-size: 1.5rem;
  /* display: flex; */
  flex-direction: column;
  text-align: center;
}

.new-tweet textarea {
  width: 80%;
  margin: 10px auto;
  font-size: .8em;
  border: none;
  resize: none;
  background-color: #A3CEF1;
  border-bottom: 1px solid black;
}

.new-tweet .counter {
  float: bottom;
  font-weight: 300;
  font-size: 0.8em;
 }

 .new-tweet #submit-button {
   border: none;
   color: #274C77;
   font-family: 'Bungee', cursive;
   background-color: #A3CEF1;
 }